.navBarTest{
    --bs-navbar-padding-y: 0 rem;
    background-color: #365486;
    padding: 5px 0;
}

/* .nav-link{
    color: #eeeeee;
} */

.nav-link .nav-link{
    color: black;
}

.dropDown{
    color: white;
}

/* a .nav-link{
    color: black;
} */
